<%- include("partials/head") %>
<body>
  <%- include("partials/header") %>
  <div><h1>Be sure that you want to delete the user; this cannot be undone</h1></div>
  <% allUsers.forEach(user => { %>
    <% console.log("user:", user) %>
    <div>
      Username: <%= user.username %>
      <form action="/deleteAccount/<%= user.id %>" method="post">
        <button type="submit">Delete <%= user.username %>'s account</button>
      </form>
    </div>
  <% }) %>
  <%- include("partials/footer") %>
</body>
</html>