<%- include("partials/head") %>
<body>
  <%- include("partials/header") %>
  <h1><%= folder.name %> folder</h1>
  <div id="fileFolderContainer">
    <% files.forEach(file => { %>
      <form action="/file/<%= file.id %>" method="get">
        <button type="submit">
          <img src="/file.png" alt="">
          <div><%= file.name %></div>
        </button>
      </form>
    <% }) %>
  </div>
  <form action="/deleteFolder/<%= folder.id %>" method="get">
    <button type="submit" class="deleteButton">Delete <%= folder.name %> folder</button>
  </form>
  <%- include("partials/footer") %>
</body>
</html>